
# Directories #
build/
bin/
target/
cache/
dist/
eggs/
dbs/
spiders.egg-info/
twistd.pid
trendersearch.egg-info

# OS Files #
.DS_Store

*.class
*.pyc
*.pyo

# SpringSource Tool Suite
.settings
.metadata
.project
.classpath
.springBeans

# Package Files #
*.jar
*.war
*.ear
*.db

# Windows
Thumbs.db 
Desktop.ini

# OSX
.DS_Store
.svn
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Eclipse
*.pydevproject
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*~.nib

# Vi files
*.swp
*.swo
*.swn
*.swm
*.swl
*.swk
*.log
.idea/
trender.iml

dependency-reduced-pom.xml
